/data
/node_modules
/resources/fonts
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/packages
/public/uploads
/storage/*.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json
