@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Ayer Web Medium';
        src: url(../fonts/Ayer-Medium-Web.woff2) format('woff2'),
        url(../fonts/Ayer-Medium-Web.woff) format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Ermina';
        src: url(../fonts/Ermina.woff2) format('woff2'),
        url(../fonts/Ermina.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Ermina';
        src: url(../fonts/Ermina-Medium.woff2) format('woff2'),
        url(../fonts/Ermina-Medium.woff) format('woff');
        font-weight: 500 900;
        font-style: normal;
        font-display: swap;
    }

    h1 {
        @apply bg-white border-2 md:border-4 border-black font-display leading-none md:leading-none px-8 py-4 text-6xl md:text-8xl text-center;
    }

    h2 {
        @apply font-medium my-8 text-center underline uppercase;
    }
}
