@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";

@layer base {
    @font-face {
        font-family: 'Ayer Web Medium';
        src: url(../fonts/Ayer-Medium-Web.woff2) format('woff2'),
        url(../fonts/Ayer-Medium-Web.woff) format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Ermina';
        src: url(../fonts/Ermina.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Ermina';
        src: url(../fonts/Ermina-Medium.woff) format('woff');
        font-weight: 500 900;
        font-style: normal;
        font-display: swap;
    }

    html {
        scroll-behavior: smooth;
    }

    .text-content a {
        @apply underline hover:no-underline;
    }

    .text-content p + p {
        @apply mt-2 lg:mt-4;
    }

    .text-content img {
        height: auto !important;
        width: auto !important;
    }

    .text-content [data-oembed-url] > div {
        max-width: 48rem !important;
    }

    h1 {
        @apply bg-white border-2 md:border-4 border-black font-display leading-none md:leading-none mb-5 lg:mb-10 pb-4 lg:pb-8 pt-3 lg:pt-6 px-4 lg:px-8 text-5xl md:text-8xl text-center tracking-normal;
    }

    h2 {
        @apply font-medium text-center uppercase;
    }
}
